<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="it=edge">
    <link rel="stylesheet" href="./style.css">
    <title>Tamas's Portfolio</title>

</head>

<body>
    <div id="nav-bar">
        <a href="#">
            <img id="logo" src="res/logo.svg" onmouseover="this.src='res/logo-hovered.svg'" onmouseout="this.src='res/logo.svg'" onmousedown="this.src='res/logo-active.svg'" onmouseup="this.src='res/logo-hovered.svg'" alt="TF">
        </a>
        <div class="menu-bar">
            <a href="#">About</a>
            <a href="#">Projects</a>
            <a href="#">Interests</a>
            <a href="#">Research</a>
            <a href="#">Contact</a>
        </div>
    </div>

    <div id="app">
        <div id="background-anim">
            <svg v-for="bs in background_shapes" :width="bs.width" :height="bs.height" :viewBox="bs.viewBox" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path :id="bs.id" :d="bs.d" fill="#FFEB3B" stroke="#2A2600"/>
			</svg>
        </div>


        <div id="about-section">
            <div id="div-welcome-text" class="left-60-column">
                <p class="normal-medium">Hi!</p>
                <p>I am <span class="yellow-regular">Tamás</span>,</p>
                <p v-on:click="changeText"><span id="baffle1" class="normal-medium">{{rotating_welcome_text1}}</span><span id="baffle2">{{rotating_welcome_text2}}</span></p>
            </div>
            <div class="right-column">
                <img id="cv-photo" src="res/Cvimage.jpeg" alt="">
            </div>
        </div>

        <div id="projects-section"></div>

        <div id="interests-section"></div>

        <div id="research-section"></div>

        <div id="contact-section"></div>

        <div class="test">
            <ul>
                <li v-for="weight in weights" :style="{fontWeight: weight.fontweight}">{{weight.text}}</li>
            </ul>
        </div>

        <div class="big-place-to-scroll"></div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/baffle@0.3.6/dist/baffle.min.js"></script>

</body>

</html>