@font-face {
    font-family: "locOxanium";
    src: url("fonts/Oxanium-Light.ttf"), url("fonts/Oxanium-ExtraLight.ttf"), url("fonts/Oxanium-Medium.ttf.ttf"), url("fonts/Oxanium-Regular.ttf.ttf"), url("fonts/Oxanium-Bold.ttf.ttf.ttf"), url("fonts/Oxanium-SemiBold.ttf.ttf"), url("fonts/Oxanium-ExtraBold.ttf.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxanium", "Chakra Petch", "Helvetica Neue";
    /*   font-family: Oxanium, "locOxanium", cursive;*/
    background-color: #eeeeee;
}

a:link,
a:visited {
    color: #2A2600;
    text-decoration: none;
}

a:hover {
    font-size: 1.05em;
    color: #544b00;
}

a:active {
    color: #fffce5;
}

#nav-bar,
#nav-bar * {
    background-color: #FFEB3B;
}

.menu-bar {
    position: absolute;
    top: 0%;
    bottom: 0%;
    right: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

#nav-bar {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 65px;
    left: 0px;
    top: 0px;
}

.menu-bar a {
    padding-left: 20px;
}

.normal-medium {
    font-weight: 500;
}

.yellow-regular {
    font-weight: 500;
    color: #cda300;
}

#logo {
    position: absolute;
    width: 69px;
    height: 65px;
    left: 10px;
    top: 0px;
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 72px;
    color: #2A2600;
}

#logo:hover {
    color: #fffce5;
}

#div-welcome-text {
    padding-left: 25%;
    padding-top: 3%;
    font-weight: 100;
    font-size: 58px;
    text-align: left;
    line-height: 72px;
    position: relative;
}

#app {
    position: absolute;
    top: 65px;
    width: 100%;
    height: 100%;
}

#cv-photo {
    height: 40ex;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-90%, -5%);
    border-radius: 150px 90px 150px 90px;
    box-shadow: 0px 4px 6px #151300;
}

.left-60-column {
    float: left;
    width: 60%;
}

.right-column {
    float: right;
    width: 40%;
}

.test {
    vertical-align: bottom;
    position: relative;
    top: 50px;
    margin-top: 200px;
    margin-left: 200px;
    font-size: 58px;
}

.big-place-to-scroll {
    height: 3000px;
}

#about-section {
    position: relative;
    height: 100%;
    padding-top: 10%;
}

#projects-section {
    background-color: #464646;
    position: relative;
    height: 100%;
}